/* THANKS TRONYX! */

/* ============== MAIN PAGE ============== */
body {
  background-color: #1b1a1a;
  color: #dce2ec !important;
}

.PageHeader-header-1IhlM, .PageHeader\/header\/1IhlM {
  background-color: #1f1f1f;
  color: #dce2ec;
}

.PageSidebar-sidebar-3IOcI, .PageSidebar\/sidebar\/3IOcI {
  background-color: #1f1f1f;
  color: #97999f;
}

.PageSidebarItem-isActiveParentLink-2uxKf, .PageSidebarItem\/isActiveParentLink\/2uxKf {
  background-color: #2d2c2c;
}

.PageToolbar-toolbar-1Lo1N, .PageToolbar\/toolbar\/1Lo1N {
  background-color: #1b1a1a;
  color: #96a2b4;
}

.PageToolbarButton-label-10YbS, .PageToolbarButton\/label\/10YbS {
  color: #96a2b4 !important;
}

.OverlayScroller-thumb-1Lhfi, .OverlayScroller\/thumb\/1Lhfi,
.Scroller-scroller-26MBT::-webkit-scrollbar-thumb, .Scroller\/scroller\/26MBT::-webkit-scrollbar-thumb {
  background-color: #2d2c2c;
}

.OverlayScroller-thumb-1Lhfi:hover, .OverlayScroller\/thumb\/1Lhfi:hover,
.Scroller-scroller-26MBT::-webkit-scrollbar-thumb:hover, .Scroller\/scroller\/26MBT::-webkit-scrollbar-thumb:hover {
  background-color: #323232;
}

.SeriesSearchInput\/containerOpen\/3F8xe .SeriesSearchInput\/seriesContainer\/2yDTR,
.MovieSearchInput-containerOpen-3c93F .MovieSearchInput-movieContainer-3FWAq,
.ArtistSearchInput-containerOpen-OZAuD .ArtistSearchInput-artistContainer-331xe {
  border: 1px solid #2d2c2c;
  background-color: #2d2c2c;
  color: #dce2ec;
}

.SeriesSearchInput\/input\/2CZrq,
.MovieSearchInput-input-2j6jL,
.ArtistSearchInput-input-1CuLx {
  border-bottom: solid 1px #323232;
}

/* ======= MOVIES/SERIES/LIBRARY ======= */
.SeriesIndexPoster-controls-prEIO, .SeriesIndexPoster\/controls\/prEIO,
.ArtistIndexPoster-controls-17A8w, .ArtistIndexPoster\/controls\/17A8w,
.MovieIndexPoster-controls-COwa9, .MovieIndexPoster\/controls\/COwa9 {
  background-color: #232323;
}

.SeriesIndexPoster-title-263Pq, .SeriesIndexPoster\/title\/263Pq,
.SeriesIndexPoster-nextAiring-1FZy6, .SeriesIndexPoster\/nextAiring\/1FZy6,
.ArtistIndexPoster-title-38afV, .ArtistIndexPoster\/title\/38afV,
.MovieIndexPoster-title-Umirt, .MovieIndexPoster\/title\/Umirt {
  background-color: #2d2c2c;
}

.PageContentFooter-contentFooter-3ODMj, .PageContentFooter\/contentFooter\/3ODMj {
  background-color: #1b1a1a;
}

.PageJumpBarItem-jumpBarItem-3F58I, .PageJumpBarItem\/jumpBarItem\/3F58I {
  border: 1px solid #2d2c2c
}

/* TABLE VIEW */
.VirtualTableRow-row-2-JS9:hover, .VirtualTableRow\/row\/2-JS9:hover {
  background-color: #232323;
}

.ProgressBar-container-14z4A, .ProgressBar\/container\/14z4A {
  background-color: #323232;
}

/* OVERVIEW VIEW */
.SeriesIndexOverview-link-1i54B, .SeriesIndexOverview\/link\/1i54B,
.MovieIndexOverview-link-ubiA0,
.ArtistIndexOverview-link-1Ry9u {
  color: #dce2ec;
}

.SeriesIndexOverview-link-1i54B:hover, .SeriesIndexOverview\/link\/1i54B:hover,
.MovieIndexOverview-link-ubiA0:hover,
.ArtistIndexOverview-link-1Ry9u:hover {
  color: #dce2ec;
}

/* ======= MEDIA ITEM ======= */
.SeriesDetailsSeason-season-3XIYa, .SeriesDetailsSeason\/season\/3XIYa,
.ArtistDetailsSeason-albumType-3aBd-, .ArtistDetailsSeason\/albumType\/3aBd-,
.AlbumDetailsMedium-medium-dqPTF, .AlbumDetailsMedium\/medium\/dqPTF {
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}

.SeriesDetailsSeason-collapseButtonContainer-trs6s, .SeriesDetailsSeason\/collapseButtonContainer\/trs6s,
.ArtistDetailsSeason-collapseButtonContainer-1c4Kb, .ArtistDetailsSeason\/collapseButtonContainer\/1c4Kb,
.AlbumDetailsMedium-collapseButtonContainer-33Y3Z, .AlbumDetailsMedium\/collapseButtonContainer\/33Y3Z {
  border-top: 1px solid #2a2c2d;
  background-color: #1f1f1f;
}

.SeriesDetailsSeason-episodes-2_O-g, .SeriesDetailsSeason\/episodes\/2_O-g,
.ArtistDetailsSeason-albums-1kcYI, .ArtistDetailsSeason\/albums\/1kcYI,
.AlbumDetailsMedium-tracks-3kD7G, .AlbumDetailsMedium\/tracks\/3kD7G {
  border-top: 1px solid #2a2c2d;
}

.TableRowCell-cell-2fbg4, .TableRowCell\/cell\/2fbg4 {
  border-top: 1px solid #2d2c2c;
}

.TableRow-row-33xJE:hover, .TableRow\/row\/33xJE:hover {
  background-color: #2d2c2c;
}

.MovieCreditPoster-title-EGksL, .MovieCreditPoster\/title\/EGksL {
  background-color: #2d2c2c;
}

/* ======= POP-OUT WINDOWS ======= */
.MovieDetails-tabList-2dYVV {
  border-bottom: 1px solid #2d2c2c;
}

.Popover-title-326tA, .Popover\/title\/326tA {
  border-bottom: 1px solid #2a2c2d;
  background-color: #212121;
}

.Tooltip-tooltip-3HJXy.Tooltip-default-2NTKh, .Tooltip\/tooltip\/3HJXy.Tooltip\/default\/2NTKh {
  background-color: #212121;
}

.Tooltip-bottom-3Ewbi.Tooltip-default-2NTKh, .Tooltip\/bottom\/3Ewbi.Tooltip\/default\/2NTKh {
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.Tooltip-left-3QgYj.Tooltip-default-2NTKh, .Tooltip\/left\/3QgYj.Tooltip\/default\/2NTKh {
  border-left-color: #212121;
}

.Tooltip-right-2MxTa.Tooltip-default-2NTKh, .Tooltip\/right\/2MxTa.Tooltip\/default\/2NTKh {
  border-left-color: #212121;
}

.ModalContent-modalContent--txrl, .ModalContent\/modalContent\/-txrl {
  background-color: #1b1a1a;
}

.ModalHeader-modalHeader-gpcvG, .ModalHeader\/modalHeader\/gpcvG {
  border-bottom: 1px solid #2d2c2c;
}

.ModalFooter-modalFooter-1N5Ku, .ModalFooter\/modalFooter\/1N5Ku {
  border-top: 1px solid #2d2c2c;
}

.Button-default-2uiHU, .Button\/default\/2uiHU {
  border-color: #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

.Button-default-2uiHU:hover, .Button\/default\/2uiHU:hover {
  border-color: #323232;
  background-color: #323232;
  color: #dce2ec;
}

.Input-input-2YWzR, .Input\/input\/2YWzR {
  border: 0px solid #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

.Input-input-2YWzR:focus, .Input\/input\/2YWzR:focus {
  border-color: #2a2c2d;
}

.MenuItem-menuItem-zB-Up, .MenuItem\/menuItem\/zB-Up {
  background-color: #2a2c2d;
  color: #dce2ec;
}

.MenuItem-menuItem-zB-Up:hover, .MenuItem-menuItem-zB-Up:focus,
.MenuItem\/menuItem\/zB-Up:hover, .MenuItem\/menuItem\/zB-Up:focus {
  background-color: #323232;
}

.EnhancedSelectInput-enhancedSelect-MfnzY, .EnhancedSelectInput\/enhancedSelect\/MfnzY {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

.EnhancedSelectInput-options-3yy65, .EnhancedSelectInput\/options\/3yy65 {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

.EnhancedSelectInputOption-option-iwTsL:hover, .EnhancedSelectInputOption\/option\/iwTsL:hover {
  background-color: #323232;
}

.EnhancedSelectInputOption-isSelected-1mRo2, .EnhancedSelectInputOption\/isSelected\/1mRo2 {
  background-color: #2a2c2d;
}

.EnhancedSelectInputOption-isSelected-1mRo2:hover, .EnhancedSelectInputOption\/isSelected\/1mRo2:hover {
  background-color: #323232;
}

.TagInput-internalInput-Jbb1T, .TagInput\/internalInput\/Jbb1T {
  background-color: #2a2c2d;
  color: #dce2ec;
}

.AutoSuggestInput-suggestionsContainerOpen-3TAB7 .AutoSuggestInput-suggestionsContainer-3MmlD,
.AutoSuggestInput\/suggestionsContainerOpen\/3TAB7 .AutoSuggestInput\/suggestionsContainer\/3MmlD {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

.AutoSuggestInput-suggestionHighlighted-2BWyt, .AutoSuggestInput\/suggestionHighlighted\/2BWyt {
  background-color: #323232;
}

.EpisodeDetailsModalContent-selectedTab-42EMp, .EpisodeDetailsModalContent\/selectedTab\/42EMp {
  border-color: #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

.TableOptionsColumn-column-2H7ic, .TableOptionsColumn\/column\/2H7ic {
  background-color: #212121;
  border: 1px solid #212121;
}

.CheckInput-input-283j3, .CheckInput\/input\/283j3 {
  background-color: #323232;
  border: 1px solid #323232;
}

.EpisodeSummary-filesHeader-2_Kgn, .EpisodeSummary\/filesHeader\/2_Kgn {
  border-bottom: 1px solid #2d2c2c;
}

/* ======= ADD NEW ======= */
.AddNewMovie-searchIconContainer-zNKEC, .AddNewMovie\/searchIconContainer\/zNKEC,
.AddNewSeries-searchIconContainer-3QAm8, .AddNewSeries\/searchIconContainer\/3QAm8,
.AddNewArtist-searchIconContainer-7ygSM, .AddNewArtist\/searchIconContainer\/7ygSM,
.AddNewItem-searchIconContainer-2CBFJ {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

.AddNewMovieSearchResult-searchResult-1FdVg, .AddNewMovieSearchResult\/searchResult\/1FdVg,
.AddNewSeriesSearchResult-searchResult-xR8dj, .AddNewSeriesSearchResult\/searchResult\/xR8dj,
.AddNewArtistSearchResult-searchResult-N5Vx4, .AddNewArtistSearchResult\/searchResult\/N5Vx4,
.AddNewArtistSearchResult-searchResult-fxW3m,
.AddNewSeriesSearchResult\/underlay\/11FBP,
.AddNewMovieSearchResult-underlay-1h0bG,
.AddNewArtistSearchResult-underlay-3aVNi,
.AddNewAlbumSearchResult-underlay-2Egnf {
  background-color: #1f1f1f;
}

.AddNewMovieSearchResult-searchResult-1FdVg:hover, .AddNewMovieSearchResult\/searchResult\/1FdVg:hover,
.AddNewSeriesSearchResult-searchResult-xR8dj:hover, .AddNewSeriesSearchResult\/searchResult\/xR8dj:hover,
.AddNewArtistSearchResult-searchResult-N5Vx4:hover, .AddNewArtistSearchResult\/searchResult\/N5Vx4:hover,
.AddNewArtistSearchResult-searchResult-fxW3m:hover,
.AddNewSeriesSearchResult\/underlay\/11FBP:hover,
.AddNewMovieSearchResult-underlay-1h0bG:hover,
.AddNewArtistSearchResult-underlay-3aVNi:hover,
.AddNewAlbumSearchResult-underlay-2Egnf:hover {
  background-color: #2a2c2d;
}

/* ======= IMPORT ======= */
.FieldSet-legend-3x6NF, .FieldSet\/legend\/3x6NF {
  border-bottom: 1px solid #2a2c2d;
  color: #dce2ec;
}

.ImportSeriesSelectSeries-button-3CL3L, .ImportSeriesSelectSeries\/button\/3CL3L,
.ImportMovieSelectMovie-button-1dL1Z {
  background-color: #2a2c2d;
  border: 1px solid #2a2c2d;
}

.ImportSeriesSelectSeries-content-3oSDj, .ImportSeriesSelectSeries\/content\/3oSDj,
.ImportMovieSelectMovie-content-fSTb8 {
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}

.ImportSeriesSearchResult-series-2BXMC:hover, .ImportSeriesSearchResult\/series\/2BXMC:hover,
.ImportMovieSearchResult-movie-2kMrG:hover {
  background-color: #2a2c2d;
}

.ImportSeriesSelectSeries-searchIconContainer-1wOES, .ImportSeriesSelectSeries\/searchIconContainer\/1wOES,
.ImportMovieSelectMovie-searchIconContainer-2yf6b {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

.SelectSeasonRow-season-HWSg2, .SelectSeasonRow\/season\/HWSg2 {
  border: 1px solid #2a2c2d;
}

/* ======= SEASON PASS/ALBUM STUDIO ======= */
.SeasonPassSeason-season-2FWuT, .SeasonPassSeason\/season\/2FWuT,
.AlbumStudioAlbum-albumType-3QdT4, .AlbumStudioAlbum\/albumType\/3QdT4,
.AlbumStudioAlbum-album-mOsjl, .AlbumStudioAlbum\/album\/mOsjl {
  background-color: #323232;
  border: 1px solid #323232;
  color: #dce2ec;
}

.SeasonPassSeason-episodes-N99zs, .SeasonPassSeason\/episodes\/N99zs,
.AlbumStudioAlbum-tracks-14O0r, .AlbumStudioAlbum\/tracks\/14O0r {
  background-color: #4c5667;
  color: #dce2ec;
}

.SeasonPassSeason-allEpisodes-1zGja, .SeasonPassSeason\/allEpisodes\/1zGja,
.AlbumStudioAlbum-allTracks-1KGPc, .AlbumStudioAlbum\/allTracks\/1KGPc {
  background-color: #53E69D;
  color: #323232;
}

.AlbumStudioAlbum-missingWanted-1jEbu, .AlbumStudioAlbum\/missingWanted\/1jEbu {
	background-color: #ff7676;
  color: #323232;
}

/* ======= RADARR DISCOVER/LISTS ======= */
.AddListMovieOverview-container-1O7bo:hover .AddListMovieOverview-content-1orZ3 {
  background-color: #232323;
}

/* ======= CALENDAR ======= */
.DayOfWeek-dayOfWeek-1iw4D, .DayOfWeek\/dayOfWeek\/1iw4D {
  background-color: #2a2c2d;
}

.CalendarDay-isToday-1rFJO, .CalendarDay\/isToday\/1rFJO {
  background-color: #212121;
}

.CalendarDay-day-2TMXA, .CalendarDay\/day\/2TMXA {
  border-bottom: 1px solid #2a2c2d;
  border-left: 1px solid #2a2c2d;
}

.CalendarDay-dayOfMonth-2CzdW, .CalendarDay\/dayOfMonth\/2CzdW {
  border-bottom: 1px solid #2a2c2d;
}

.CalendarDays-days-girjM, .CalendarDays\/days\/girjM {
  border-right: 1px solid #2a2c2d;
}

.DayOfWeek-isToday-SozUU, .DayOfWeek\/isToday\/SozUU {
  background-color: #212121;
}

.CalendarEvent-event-3Uyb9, .CalendarEvent\/event\/3Uyb9 {
  border-right: 1px solid #2a2c2d;
  border-bottom: 1px solid #2a2c2d;
  border-top: 1px solid #2a2c2d;
}

.CalendarEvent-seriesTitle-3sg1o, .CalendarEvent\/seriesTitle\/3sg1o,
.CalendarEvent-movieTitle-2-WAP, .CalendarEvent\/movieTitle\/2-WAP {
  color: #dce2ec;
}

.CalendarEvent-episodeInfo-IWdbW, .CalendarEvent\/episodeInfo\/IWdbW,
.CalendarEvent-airTime-3Wzho, .CalendarEvent\/airTime\/3Wzho,
.CalendarEvent-movieInfo-2LF5- {
  color: #96a2b4;
}

.AgendaEvent-event-2a83A, .AgendaEvent\/event\/2a83A {
  border-bottom: 1px solid #2d2c2c;
}

.AgendaEvent-event-2a83A:hover, .AgendaEvent\/event\/2a83A:hover {
  background-color: #232323;
}

/* ======= WANTED ======= */
.SelectSeriesRow-series-1SgeZ, .SelectSeriesRow\/series\/1SgeZ {
  border-bottom: 1px solid #2d2c2c;
}

/* ======= SETTINGS ======= */
.Settings-link-tvjY0, .Settings\/link\/tvjY0 {
  border-bottom: none;
  color: #ffffff;
}

.Settings-summary-3KPAv, .Settings\/summary\/3KPAv {
  color: #96a2b4;
}

/* MEDIA MANAGEMENT */
.NamingOption-option-giCGd, .NamingOption\/option\/giCGd {
  border: 1px solid #2a2c2d;
}

.NamingOption-token-1y5bz, .NamingOption\/token\/1y5bz {
  background-color: #2a2c2d;
}

.NamingOption-example-RNR6x, .NamingOption\/example\/RNR6x {
  background-color: #1f1f1f;
}

.NamingOption-option-giCGd:hover .NamingOption-token-1y5bz,
.NamingOption\/option\/giCGd:hover .NamingOption\/token\/1y5bz {
  background-color: #323232;
}

.NamingOption-option-giCGd:hover .NamingOption-example-RNR6x,
.NamingOption\/option\/giCGd:hover .NamingOption\/example\/RNR6x {
    background-color: #232323;
}

/* PROFILES/CUSTOM FORMATS/INDEXERS/DOWNLOAD CLIENTS/LIST/CONNECT */
.Card-card-1iGZk, .Card\/card\/1iGZk {
  background-color: #212121;
  box-shadow: 0 0 10px 1px #00000060;
  color: #dce2ec;
}

.QualityProfiles-addQualityProfile-2U2Io, .QualityProfiles\/addQualityProfile\/2U2Io,
.LanguageProfiles-addLanguageProfile-3ic6m, .LanguageProfiles\/addLanguageProfile\/3ic6m,
.ReleaseProfiles-addReleaseProfile-1SsDM, .ReleaseProfiles\/addReleaseProfile\/1SsDM,
.Indexers-addIndexer-2QuUZ, .Indexers\/addIndexer\/2QuUZ,
.DownloadClients-addDownloadClient-3wo5E, .DownloadClients\/addDownloadClient\/3wo5E,
.Notifications-addNotification-3Z3g5, .Notifications\/addNotification\/3Z3g5 {
  background-color: #212121;
}

.QualityProfiles-center-1iiKm, .QualityProfiles\/center\/1iiKm,
.LanguageProfiles-center-7EV_2, .LanguageProfiles\/center\/7EV_2,
.ReleaseProfiles-center-114Qx, .ReleaseProfiles\/center\/114Qx,
.Indexers-center-11Csq, .Indexers\/center\/11Csq,
.DownloadClients-center-FvACx, .DownloadClients\/center\/FvACx,
.Notifications-center-8iwmy, .Notifications\/center\/8iwmy,
.CustomFormats-center-1w6Bw, .CustomFormats\/center\/1w6Bw,
.NetImports-center-3otL-, .NetImports\/center\/3otL-,
.MetadataProfiles-center-dOatB, .MetadataProfiles\/center\/dOatB,
.ImportLists-center-17Qdu, .ImportLists\/center\/17Qdu,
.EditCustomFormatModalContent-center-3QU87, .EditCustomFormatModalContent\/center\/3QU87,
.Restrictions-center-3ngzk, .Restrictions\/center\/3ngzk {
  border: none;
  background-color: #212121;
}

/* PROFILES */
.QualityDefinition-bar-LlTjA:nth-child(odd), .QualityDefinition\/bar\/LlTjA:nth-child(odd) {
  background-color: #323232;
}

.QualityDefinition-handle-3wp-k, .QualityDefinition\/handle\/3wp-k {
  background-color: #1f1f1f;
}

.QualityDefinition-qualityDefinition-Ouk7S, .QualityDefinition\/qualityDefinition\/Ouk7S {
  border-top: 1px solid #2a2c2d;
}

.DelayProfile-delayProfile-4BQz_, .DelayProfile\/delayProfile\/4BQz_ {
  border-bottom: 1px solid #2a2c2d;
}

.QualityProfileItem-qualityProfileItem-VFp-W, .QualityProfileItem\/qualityProfileItem\/VFp-W,
.QualityProfileItemGroup-qualityProfileItemGroup-2U1l5, .QualityProfileItemGroup\/qualityProfileItemGroup\/2U1l5,
.QualityProfileFormatItem-qualityProfileFormatItem-19XrK, .QualityProfileFormatItem\/qualityProfileFormatItem\/19XrK {
  background: #2a2c2d;
  border: 1px solid #2a2c2d;
}

.QualityProfileItemGroup-qualityProfileItemGroup-2U1l5.QualityProfileItemGroup-editGroups-2KzDp,
.QualityProfileItemGroup\/qualityProfileItemGroup\/2U1l5.QualityProfileItemGroup\/editGroups\/2KzDp,
.LanguageProfileItem-languageProfileItem-18XGg, .LanguageProfileItem\/languageProfileItem\/18XGg {
  background: #1f1f1f;
}

.KeyValueListInputItem-itemContainer-2g1bS, .KeyValueListInputItem\/itemContainer\/2g1bS {
  border-bottom: none;
}

.KeyValueListInputItem-keyInput-3YYEs, .KeyValueListInputItem\/keyInput\/3YYEs,
.KeyValueListInputItem-valueInput-3zlQA, .KeyValueListInputItem\/valueInput\/3zlQA {
  background: transparent;
  color: #dce2ec;
}