/* THANKS TRONYX! */

/* ============== MAIN PAGE ============== */
body {
  background-color: #1b1a1a;
  color: #dce2ec !important;
}

.PageHeader-header-1IhlM, .PageHeader\/header\/1IhlM {
  background-color: #1f1f1f;
  color: #dce2ec;
}

.PageSidebar-sidebar-3IOcI, .PageSidebar\/sidebar\/3IOcI {
  background-color: #1f1f1f;
  color: #97999f;
}

.PageSidebarItem-isActiveParentLink-2uxKf, .PageSidebarItem\/isActiveParentLink\/2uxKf {
  background-color: #1c1c1c;
}

.PageToolbar-toolbar-1Lo1N, .PageToolbar\/toolbar\/1Lo1N {
  background-color: #1b1a1a;
  color: #96a2b4;
}

.PageToolbarButton-label-10YbS, .PageToolbarButton\/label\/10YbS {
  color: #96a2b4 !important;
}

.OverlayScroller-thumb-1Lhfi, .OverlayScroller\/thumb\/1Lhfi {
  background-color: #2d2c2c;
}

.OverlayScroller-thumb-1Lhfi:hover, .OverlayScroller\/thumb\/1Lhfi:hover {
  background-color: #323232;
}

/* ======= MOVIES/SERIES/LIBRARY ======= */
.SeriesIndexPoster-controls-prEIO, .SeriesIndexPoster\/controls\/prEIO,
.ArtistIndexPoster-controls-17A8w, .ArtistIndexPoster\/controls\/17A8w,
.MovieIndexPoster-controls-COwa9, .MovieIndexPoster\/controls\/COwa9 {
  background-color: #232323;
}

.SeriesIndexPoster-title-263Pq, .SeriesIndexPoster\/title\/263Pq,
.SeriesIndexPoster-nextAiring-1FZy6, .SeriesIndexPoster\/nextAiring\/1FZy6,
.ArtistIndexPoster-title-38afV, .ArtistIndexPoster\/title\/38afV,
.MovieIndexPoster-title-Umirt, .MovieIndexPoster\/title\/Umirt {
  background-color: #2d2c2c;
}

.PageContentFooter-contentFooter-3ODMj, .PageContentFooter\/contentFooter\/3ODMj {
  background-color: #1b1a1a;
}

.PageJumpBarItem-jumpBarItem-3F58I, .PageJumpBarItem\/jumpBarItem\/3F58I {
  border: 1px solid #2d2c2c
}

/* TABLE VIEW */
.VirtualTableRow-row-2-JS9:hover, .VirtualTableRow\/row\/2-JS9:hover {
  background-color: #232323;
}

.ProgressBar-container-14z4A, .ProgressBar\/container\/14z4A {
  background-color: #323232;
}

/* OVERVIEW VIEW */
.SeriesIndexOverview-link-1i54B, .SeriesIndexOverview\/link\/1i54B,
.MovieIndexOverview-link-ubiA0,
.ArtistIndexOverview-link-1Ry9u {
  color: #dce2ec;
}

.SeriesIndexOverview-link-1i54B:hover, .SeriesIndexOverview\/link\/1i54B:hover,
.MovieIndexOverview-link-ubiA0:hover,
.ArtistIndexOverview-link-1Ry9u:hover {
  color: #dce2ec;
}

/* ======= MEDIA ITEM ======= */
.SeriesDetailsSeason-season-3XIYa, .SeriesDetailsSeason\/season\/3XIYa,
.ArtistDetailsSeason-albumType-3aBd-, .ArtistDetailsSeason\/albumType\/3aBd-,
.AlbumDetailsMedium-medium-dqPTF, .AlbumDetailsMedium\/medium\/dqPTF {
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}

.SeriesDetailsSeason-collapseButtonContainer-trs6s, .SeriesDetailsSeason\/collapseButtonContainer\/trs6s,
.ArtistDetailsSeason-collapseButtonContainer-1c4Kb, .ArtistDetailsSeason\/collapseButtonContainer\/1c4Kb,
.AlbumDetailsMedium-collapseButtonContainer-33Y3Z, .AlbumDetailsMedium\/collapseButtonContainer\/33Y3Z {
  border-top: 1px solid #2a2c2d;
  background-color: #1f1f1f;
}

.SeriesDetailsSeason-episodes-2_O-g, .SeriesDetailsSeason\/episodes\/2_O-g,
.ArtistDetailsSeason-albums-1kcYI, .ArtistDetailsSeason\/albums\/1kcYI,
.AlbumDetailsMedium-tracks-3kD7G, .AlbumDetailsMedium\/tracks\/3kD7G {
  border-top: 1px solid #2a2c2d;
}

.TableRowCell-cell-2fbg4, .TableRowCell\/cell\/2fbg4 {
  border-top: 1px solid #2d2c2c;
}

.TableRow-row-33xJE:hover, .TableRow\/row\/33xJE:hover {
  background-color: #2d2c2c;
}

/* ======= POP-OUT WINDOWS ======= */
.MovieDetails-tabList-2dYVV {
  border-bottom: 1px solid #2d2c2c;
}

.Popover-title-326tA, .Popover\/title\/326tA {
  border-bottom: 1px solid #2a2c2d;
  background-color: #212121;
}

.Tooltip-tooltip-3HJXy.Tooltip-default-2NTKh, .Tooltip\/tooltip\/3HJXy.Tooltip\/default\/2NTKh {
  background-color: #212121;
}

.Tooltip-bottom-3Ewbi.Tooltip-default-2NTKh, .Tooltip\/bottom\/3Ewbi.Tooltip\/default\/2NTKh {
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.Tooltip-left-3QgYj.Tooltip-default-2NTKh, .Tooltip\/left\/3QgYj.Tooltip\/default\/2NTKh {
  border-left-color: #212121;
}

.Tooltip-right-2MxTa.Tooltip-default-2NTKh, .Tooltip\/right\/2MxTa.Tooltip\/default\/2NTKh {
  border-left-color: #212121;
}

.ModalContent-modalContent--txrl, .ModalContent\/modalContent\/-txrl {
  background-color: #1b1a1a;
}

.ModalHeader-modalHeader-gpcvG, .ModalHeader\/modalHeader\/gpcvG {
  border-bottom: 1px solid #2d2c2c;
}

.ModalFooter-modalFooter-1N5Ku, .ModalFooter\/modalFooter\/1N5Ku {
  border-top: 1px solid #2d2c2c;
}

.Button-default-2uiHU, .Button\/default\/2uiHU {
  border-color: #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

.Button-default-2uiHU:hover, .Button\/default\/2uiHU:hover {
  border-color: #323232;
  background-color: #323232;
  color: #dce2ec;
}

.Input-input-2YWzR, .Input\/input\/2YWzR {
  border: 0px solid #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

.Input-input-2YWzR:focus, .Input\/input\/2YWzR:focus {
  border-color: #2a2c2d;
}

.MenuItem-menuItem-zB-Up, .MenuItem\/menuItem\/zB-Up {
  background-color: #2a2c2d;
  color: #dce2ec;
}

.MenuItem-menuItem-zB-Up:hover, .MenuItem-menuItem-zB-Up:focus,
.MenuItem\/menuItem\/zB-Up:hover, .MenuItem\/menuItem\/zB-Up:focus {
  background-color: #323232;
}

.EnhancedSelectInput-enhancedSelect-MfnzY, .EnhancedSelectInput\/enhancedSelect\/MfnzY {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

.EnhancedSelectInput-options-3yy65, .EnhancedSelectInput\/options\/3yy65 {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

.EnhancedSelectInputOption-option-iwTsL:hover, .EnhancedSelectInputOption\/option\/iwTsL:hover {
  background-color: #323232;
}

.EnhancedSelectInputOption-isSelected-1mRo2, .EnhancedSelectInputOption\/isSelected\/1mRo2 {
  background-color: #2a2c2d;
}

.EnhancedSelectInputOption-isSelected-1mRo2:hover, .EnhancedSelectInputOption\/isSelected\/1mRo2:hover {
  background-color: #323232;
}

.TagInput-internalInput-Jbb1T, .TagInput\/internalInput\/Jbb1T {
  background-color: #2a2c2d;
  color: #dce2ec;
}

.AutoSuggestInput-suggestionsContainerOpen-3TAB7 .AutoSuggestInput-suggestionsContainer-3MmlD,
.AutoSuggestInput\/suggestionsContainerOpen\/3TAB7 .AutoSuggestInput\/suggestionsContainer\/3MmlD {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

.AutoSuggestInput-suggestionHighlighted-2BWyt, .AutoSuggestInput\/suggestionHighlighted\/2BWyt {
  background-color: #323232;
}

.EpisodeDetailsModalContent-selectedTab-42EMp, .EpisodeDetailsModalContent\/selectedTab\/42EMp {
  border-color: #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

.TableOptionsColumn-column-2H7ic, .TableOptionsColumn\/column\/2H7ic {
  background-color: #212121;
  border: 1px solid #212121;
}

.CheckInput-input-283j3, .CheckInput\/input\/283j3 {
  background-color: #323232;
  border: 1px solid #323232;
}


/* ======= ADD NEW ======= */
.AddNewMovie-searchIconContainer-zNKEC, .AddNewMovie\/searchIconContainer\/zNKEC,
.AddNewSeries-searchIconContainer-3QAm8, .AddNewSeries\/searchIconContainer\/3QAm8,
.AddNewArtist-searchIconContainer-7ygSM, .AddNewArtist\/searchIconContainer\/7ygSM,
.AddNewItem-searchIconContainer-2CBFJ {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

.AddNewMovieSearchResult-searchResult-1FdVg, .AddNewMovieSearchResult\/searchResult\/1FdVg,
.AddNewSeriesSearchResult-searchResult-xR8dj, .AddNewSeriesSearchResult\/searchResult\/xR8dj,
.AddNewArtistSearchResult-searchResult-N5Vx4, .AddNewArtistSearchResult\/searchResult\/N5Vx4,
.AddNewArtistSearchResult-searchResult-fxW3m,
.AddNewSeriesSearchResult\/underlay\/11FBP,
.AddNewMovieSearchResult-underlay-1h0bG,
.AddNewArtistSearchResult-underlay-3aVNi,
.AddNewAlbumSearchResult-underlay-2Egnf {
  background-color: #1f1f1f;
}

.AddNewMovieSearchResult-searchResult-1FdVg:hover, .AddNewMovieSearchResult\/searchResult\/1FdVg:hover,
.AddNewSeriesSearchResult-searchResult-xR8dj:hover, .AddNewSeriesSearchResult\/searchResult\/xR8dj:hover,
.AddNewArtistSearchResult-searchResult-N5Vx4:hover, .AddNewArtistSearchResult\/searchResult\/N5Vx4:hover,
.AddNewArtistSearchResult-searchResult-fxW3m:hover
.AddNewSeriesSearchResult\/underlay\/11FBP:hover,
.AddNewMovieSearchResult-underlay-1h0bG:hover,
.AddNewArtistSearchResult-underlay-3aVNi:hover,
.AddNewAlbumSearchResult-underlay-2Egnf:hover {
  background-color: #2a2c2d !important;
}

/* ======= IMPORT ======= */
.FieldSet-legend-3x6NF, .FieldSet\/legend\/3x6NF {
  border-bottom: 1px solid #2a2c2d;
  color: #dce2ec;
}

.ImportSeriesSelectSeries-button-3CL3L, .ImportSeriesSelectSeries\/button\/3CL3L,
.ImportMovieSelectMovie-button-1dL1Z {
  background-color: #2a2c2d;
  border: 1px solid #2a2c2d;
}

.ImportSeriesSelectSeries-content-3oSDj, .ImportSeriesSelectSeries\/content\/3oSDj,
.ImportMovieSelectMovie-content-fSTb8 {
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}

.ImportSeriesSearchResult-series-2BXMC:hover, .ImportSeriesSearchResult\/series\/2BXMC:hover,
.ImportMovieSearchResult-movie-2kMrG:hover {
  background-color: #2a2c2d;
}

.ImportSeriesSelectSeries-searchIconContainer-1wOES, .ImportSeriesSelectSeries\/searchIconContainer\/1wOES,
.ImportMovieSelectMovie-searchIconContainer-2yf6b {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

/* ======= SEASON PASS/ALBUM STUDIO ======= */
.SeasonPassSeason-season-2FWuT, .SeasonPassSeason\/season\/2FWuT,
.AlbumStudioAlbum-albumType-3QdT4, .AlbumStudioAlbum\/albumType\/3QdT4,
.AlbumStudioAlbum-album-mOsjl, .AlbumStudioAlbum\/album\/mOsjl {
  background-color: #323232;
  border: 1px solid #323232;
  color: #dce2ec;
}

.SeasonPassSeason-episodes-N99zs, .SeasonPassSeason\/episodes\/N99zs,
.AlbumStudioAlbum-tracks-14O0r, .AlbumStudioAlbum\/tracks\/14O0r {
  background-color: #4c5667;
  color: #dce2ec;
}

.SeasonPassSeason-allEpisodes-1zGja, .SeasonPassSeason\/allEpisodes\/1zGja,
.AlbumStudioAlbum-allTracks-1KGPc, .AlbumStudioAlbum\/allTracks\/1KGPc {
  background-color: #53E69D;
  color: #323232;
}

.AlbumStudioAlbum-missingWanted-1jEbu, .AlbumStudioAlbum\/missingWanted\/1jEbu {
	background-color: #ff7676;
  color: #323232;
}

/* ======= RADARR DISCOVER/LISTS ======= */
.AddListMovieOverview-container-1O7bo:hover .AddListMovieOverview-content-1orZ3 {
  background-color: #232323;
}