/* THANKS TRONYX! */

/* ============== MAIN PAGE ============== */
body {
  background-color: #1b1a1a;
  color: #dce2ec !important;
}

[class^="PageHeader-header"] {
  background-color: #1f1f1f;
  color: #dce2ec;
}

[class^="PageSidebar-sidebar"] {
  background-color: #1f1f1f;
  color: #97999f;
}

[class*="PageSidebarItem-isActiveParentLink"] {
  background-color: #2d2c2c;
}

[class^="PageToolbar-toolbar"] {
  background-color: #1b1a1a;
  color: #96a2b4;
}

[class^="PageToolbarButton-label"] {
  color: #96a2b4 !important;
}

[class^="OverlayScroller-thumb"], [class^="Scroller-scroller"]::-webkit-scrollbar-thumb {
  background-color: #2d2c2c;
}

[class^="OverlayScroller-thumb"]:hover, [class^="Scroller-scroller"]::-webkit-scrollbar-thumb:hover {
  background-color: #323232;
}

[class*="SeriesSearchInput-containerOpen"] [class^="SeriesSearchInput-seriesContainer"], 
[class*="MovieSearchInput-containerOpen"] [class^="MovieSearchInput-movieContainer"], 
[class*="ArtistSearchInput-containerOpen"] [class^="ArtistSearchInput-artistContainer"] {
  border: 1px solid #2d2c2c;
  background-color: #2d2c2c;
  color: #dce2ec;
}

[class^="SeriesSearchInput-input"], [class^="MovieSearchInput-input"], [class^="ArtistSearchInput-input"] {
  border-bottom: solid 1px #323232;
}

/* ======= MOVIES/SERIES/LIBRARY ======= */
[class^="SeriesIndexPoster-controls"], [class^="ArtistIndexPoster-controls"], [class^="MovieIndexPoster-controls"] {
  background-color: #232323;
}

[class^="SeriesIndexPoster-title"], [class^="SeriesIndexPoster-nextAiring"], [class^="SeriesIndexPosterInfo-info"], [class^="ArtistIndexPoster-title"],
[class^="ArtistIndexPosterInfo"], [class^="MovieIndexPoster-title"], [class^="MovieIndexPosterInfo-info"] {
  background-color: #2d2c2c;
}

[class^="PageContentFooter-contentFooter"] {
  background-color: #1b1a1a;
}

[class^="PageJumpBarItem-jumpBarItem"] {
  border: 1px solid #2d2c2c
}

[class^="PageJumpBarItem-jumpBarItem"]:last-child {
  border-left: 1px solid #2d2c2c
}

/* TABLE VIEW */
[class^="VirtualTableRow-row"]:hover {
  background-color: #232323;
}

[class^="ProgressBar-container"] {
  background-color: #323232;
}

/* OVERVIEW VIEW */
[class*="SeriesIndexOverview-link"], [class*="MovieIndexOverview-link"], [class*="ArtistIndexOverview-link"] {
  color: #dce2ec;
}

[class*="SeriesIndexOverview-link"]:hover, [class*="MovieIndexOverview-link"]:hover, [class*="ArtistIndexOverview-link"]:hover {
  color: #dce2ec;
}

/* ======= MEDIA ITEM ======= */
[class^="SeriesDetailsSeason-season"], [class^="ArtistDetailsSeason-albumType"], [class^="AlbumDetailsMedium-medium"] {
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}

[class^="SeriesDetailsSeason-collapseButtonContainer"], [class^="ArtistDetailsSeason-collapseButtonContainer"],
[class^="AlbumDetailsMedium-collapseButtonContainer"] {
  border-top: 1px solid #2a2c2d;
  background-color: #1f1f1f;
}

[class^="SeriesDetailsSeason-episodes"], [class^="ArtistDetailsSeason-albums"], [class^="AlbumDetailsMedium-tracks"] {
  border-top: 1px solid #2a2c2d;
}

[class*="TableRowCell-cell"] {
  border-top: 1px solid #2d2c2c;
}

[class*="TableRow-row"]:hover {
  background-color: #2d2c2c;
}

[class^="MovieCreditPoster-title"] {
  background-color: #2d2c2c;
}

[class^="MovieFileEditorTable-container"] {
  background-color: #1b1a1a;
  border: 0;
}

[class^="ExtraFileTable-container"] {
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
}

/* ======= POP-OUT WINDOWS ======= */
[class^="MovieDetails-tabList"] {
  border-bottom: 1px solid #2d2c2c;
}

[class^="Popover-title"] {
  border-bottom: 1px solid #2a2c2d;
  background-color: #212121;
}

[class^="Tooltip-tooltip-"][class*="Tooltip-default"] {
  background-color: #212121;
}

[class*="Tooltip-bottom-"][class*="Tooltip-default"] {
  border-bottom-color: #212121;
}

[class*="Tooltip-left-"][class*="Tooltip-default"] {
  border-left-color: #212121;
}

[class*="Tooltip-right-"][class*="Tooltip-default"] {
  border-right-color: #212121;
}
[class^="ModalContent-modalContent"] {
  background-color: #1b1a1a;
}

[class^="ModalHeader-modalHeader"] {
  border-bottom: 1px solid #2d2c2c;
}

[class*="ModalFooter-modalFooter"] {
  border-top: 1px solid #2d2c2c;
}

[class*="Button-default"] {
  border-color: #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

[class*="Button-default"]:hover {
  border-color: #323232;
  background-color: #323232;
  color: #dce2ec;
}

[class*=" Input-input"] {
  border: 0px solid #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

[class^="Input-input"]:focus {
  border-color: #2a2c2d;
}

[class^="MenuItem-menuItem"] {
  background-color: #2a2c2d;
  color: #dce2ec;
}

[class^="MenuItem-menuItem"]:hover, [class^="MenuItem-menuItem"]:focus {
  background-color: #323232;
}

[class^="EnhancedSelectInput-enhancedSelect"] {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

[class^="EnhancedSelectInput-options"] {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

[class^="EnhancedSelectInput-options"]:hover {
  background-color: #323232;
}

[class^="EnhancedSelectInputOption-option"] {
  background-color: #2a2c2d;
}

[class^="EnhancedSelectInputOption-option"]:hover {
  background-color: #323232;
}

[class^="EnhancedSelectInputOption-isSelected"] {
  background-color: #2a2c2d;
}

[class^="EnhancedSelectInputOption-isSelected"]:hover {
  background-color: #323232;
}

[class^="TagInput-internalInput"] {
  background-color: #2a2c2d;
  color: #dce2ec;
}

[class^="AutoSuggestInput-suggestionsContainerOpen"] [class^="AutoSuggestInput-suggestionsContainer"] {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

[class^="AutoSuggestInput-suggestionHighlighted"] {
  background-color: #323232;
}

[class*=" EpisodeDetailsModalContent-selectedTab"] {
  border-color: #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

[class^="TableOptionsColumn-column"] {
  background-color: #212121;
  border: 1px solid #212121;
}

[class*="CheckInput-input"] {
  background-color: #323232;
  border: 1px solid #323232;
}

[class^="OrganizePreviewRow-row"] {
  border-bottom: 1px solid #2d2c2c;
}

[class^="EpisodeSummary-filesHeader"], [class^="SelectMovieRow-movie"] {
  border-bottom: 1px solid #2d2c2c;
}


/* ======= ADD NEW ======= */
[class^="AddNewMovie-searchIconContainer"], [class^="AddNewSeries-searchIconContainer"],
[class^="AddNewArtist-searchIconContainer"], [class^="AddNewItem-searchIconContainer"] {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

[class^="AddNewMovieSearchResult-underlay"], [class^="AddNewSeriesSearchResult-underlay"],
[class^="AddNewAlbumSearchResult-underlay"], [class^="AddNewArtistSearchResult-underlay"] {
  background-color: #1f1f1f;
}

[class^="AddNewMovieSearchResult-underlay"]:hover, [class^="AddNewSeriesSearchResult-underlay"]:hover,
[class^="AddNewAlbumSearchResult-underlay"]:hover, [class^="AddNewArtistSearchResult-underlay"]:hover {
  background-color: #2a2c2d;
}

/* ======= IMPORT ======= */
[class^="FieldSet-legend"] {
  border-bottom: 1px solid #2a2c2d;
  color: #dce2ec;
}

[class^="ImportSeriesSelectSeries-button"], [class^="ImportMovieSelectMovie-button"] {
  background-color: #2a2c2d;
  border: 1px solid #2a2c2d;
}

[class^="ImportSeriesSelectSeries-content"], [class^="ImportMovieSelectMovie-content"] {
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}

[class^="ImportSeriesSelectSeries-content"]:hover, [class^="ImportMovieSelectMovie-content"]:hover {
  background-color: #2a2c2d;
}

[class^="ImportSeriesSelectSeries-searchIconContainer"], [class^="ImportMovieSelectMovie-searchIconContainer"] {
  border: 1px solid #2a2c2d;
  background-color: #2a2c2d;
}

[class^="SelectSeasonRow-season"] {
  border: 1px solid #2a2c2d;
}

[class^="CustomFilter-customFilter"]:hover {
  background-color: #1f1f1f;
}

[class^="FilterBuilderRow-filterRow"]:hover {
  background-color: #1f1f1f;
}

/* ======= DISCOVER ======= */
[class*="DiscoverMovieOverview-link"] {
  color: #dce2ec;
}

[class*="DiscoverMovieOverview-link"]:hover {
  color: #ffffff;
}

/* ======= SEASON PASS/ALBUM STUDIO ======= */
[class^="SeasonPassSeason-season"], [class^="AlbumStudioAlbum-album"] {
  background-color: #323232;
  border: 1px solid #323232;
  color: #dce2ec;
}

[class^="SeasonPassSeason-episodes"], [class^="AlbumStudioAlbum-tracks"] {
  background-color: #4c5667;
  color: #dce2ec;
}

[class*="SeasonPassSeason-allEpisodes"], [class*="AlbumStudioAlbum-allTracks"] {
  background-color: #53E69D;
  color: #323232;
}

[class^="AlbumStudioAlbum-missingWanted"] {
	background-color: #ff7676;
  color: #323232;
}

/* ======= RADARR DISCOVER/LISTS ======= */
[class^="AddListMovieOverview-container"]:hover [class^="AddListMovieOverview-content"] {
  background-color: #232323;
}

/* ======= CALENDAR ======= */
[class^="DayOfWeek-dayOfWeek"] {
  background-color: #2a2c2d;
}

[class*="CalendarDay-isToday"] {
  background-color: #212121;
}

[class^="CalendarDay-day"] {
  border-bottom: 1px solid #2a2c2d;
  border-left: 1px solid #2a2c2d;
}

[class^="CalendarDay-dayOfMonth"] {
  border-bottom: 1px solid #2a2c2d;
}

[class^="CalendarDays-days"] {
  border-right: 1px solid #2a2c2d;
}

[class^="DayOfWeek-isToday"] {
  background-color: #212121;
}

[class^="CalendarEvent-event"] {
  border-right: 1px solid #2a2c2d;
  border-bottom: 1px solid #2a2c2d;
  border-top: 1px solid #2a2c2d;
}

[class^="CalendarEvent-seriesTitle"], [class^="CalendarEvent-movieTitle"] {
  color: #dce2ec;
}

[class^="CalendarEvent-episodeInfo"], [class^="CalendarEvent-airTime"], [class^="CalendarEvent-movieInfo"] {
  color: #96a2b4;
}

[class^="AgendaEvent-event"] {
  border-bottom: 1px solid #2d2c2c;
}

[class^="AgendaEvent-event"]:hover {
  background-color: #232323;
}

/* ======= WANTED ======= */
[class^="SelectSeriesRow-series"] {
  border-bottom: 1px solid #2d2c2c;
}

/* ======= SETTINGS ======= */
[class^="Settings-link"] {
  border-bottom: none;
  color: #dce2ec;
}

[class^="Settings-link"]:hover {
  color: #ffffff;
}

[class^="Settings-summary"] {
  color: #96a2b4;
}

/* MEDIA MANAGEMENT */
[class^="NamingOption-option"] {
  border: 1px solid #2a2c2d;
}

[class^="NamingOption-token"] {
  background-color: #2a2c2d;
}

[class^="NamingOption-example"] {
  background-color: #1f1f1f;
}

[class^="NamingOption-option"]:hover [class^="NamingOption-token"] {
  background-color: #323232;
}

[class^="NamingOption-option"]:hover [class^="NamingOption-example"] {
    background-color: #232323;
}

/* PROFILES/CUSTOM FORMATS/INDEXERS/DOWNLOAD CLIENTS/LIST/CONNECT */
[class*="Card-card"] {
  background-color: #212121;
  box-shadow: 0 0 10px 1px #00000060;
  color: #dce2ec;
}

[class^="QualityProfiles-addQualityProfile"], [class^="LanguageProfiles-addLanguageProfile"],
[class^="ReleaseProfiles-addReleaseProfile"], [class^="Indexers-addIndexer"],
[class^="DownloadClients-addDownloadClient"], [class^="Notifications-addNotification"] {
  background-color: #212121;
}

[class^="QualityProfiles-center"], [class^="LanguageProfiles-center"], [class^="ReleaseProfiles-center"],
[class^="Indexers-center"], [class^="DownloadClients-center"], [class^="Notifications-center"],
[class^="CustomFormats-center"], [class^="NetImports-center"], [class^="MetadataProfiles-center"],
[class^="ImportLists-center"], [class^="EditCustomFormatModalContent-center"], [class^="Restrictions-center"],
[class^="RootFolders-center"], [class^="Applications-center"], [class^="IndexerProxies-center"],
[class^="IndexerProxies-center"], [class^="AppProfiles-center"] {
  border: none;
  background-color: #212121;
}

[class^="QualityDefinition-bar"]:nth-child(odd), [class^="QualityDefinition-track"]:nth-child(odd) {
  background-color: #323232;
}

[class^="QualityDefinition-handle"] {
  background-color: #1f1f1f;
}

[class^="QualityDefinition-qualityDefinition"] {
  border-top: 1px solid #2a2c2d;
}

[class^="DelayProfile-delayProfile"] {
  border-bottom: 1px solid #2a2c2d;
}

[class^="QualityProfileItem-qualityProfileItem"], [class^="QualityProfileItemGroup-qualityProfileItemGroup"],
[class^="QualityProfileFormatItem-qualityProfileFormatItem"] {
  background: #2a2c2d;
  border: 1px solid #2a2c2d;
}

[class^="QualityProfileItemGroup-qualityProfileItemGroup"][class*="QualityProfileItemGroup-editGroups"],
[class^="LanguageProfileItem-languageProfileItem"] {
  background: #1f1f1f;
}

[class^="DownloadProtocolItem-qualityProfileItem"] {
  border: 0px solid #2a2c2d;
  background-color: #2a2c2d;
  color: #dce2ec;
}

[class^="KeyValueListInputItem-itemContainer"] {
  border-bottom: none;
}

[class^="KeyValueListInputItem-keyInput"], [class^="KeyValueListInputItem-valueInput"] {
  background: transparent;
  color: #dce2ec;
}

/* Updates */
[class^="Updates-info"] {
  border-bottom: 1px solid #2a2c2d;
}

/* ======= UPDATED POP UP ======= */
[class^="AppUpdatedModalContent-changes"] {
  border-bottom: 1px solid #2d2c2c;
}