/* THANKS TRONYX! */

/* ============== MAIN PAGE ============== */
body {
  background-color: #1b1a1a;
  color: #dce2ec !important;
}

.PageHeader-header-1IhlM, .PageHeader\/header\/1IhlM {
  background-color: #1f1f1f;
  color: #dce2ec;
}

.PageSidebar-sidebar-3IOcI, .PageSidebar\/sidebar\/3IOcI {
  background-color: #1f1f1f;
  color: #97999f;
}

.PageSidebarItem-isActiveParentLink-2uxKf, .PageSidebarItem\/isActiveParentLink\/2uxKf {
  background-color: #1c1c1c;
}

.PageToolbar-toolbar-1Lo1N, .PageToolbar\/toolbar\/1Lo1N {
  background-color: #1b1a1a;
  color: #96a2b4;
}

.PageToolbarButton-label-10YbS, .PageToolbarButton\/label\/10YbS {
  color: #96a2b4 !important;
}

/* ======= MOVIES/SERIES/LIBRARY ======= */
.SeriesIndexPoster-controls-prEIO, .SeriesIndexPoster\/controls\/prEIO,
.ArtistIndexPoster-controls-17A8w, .ArtistIndexPoster\/controls\/17A8w,
.MovieIndexPoster-controls-COwa9, .MovieIndexPoster\/controls\/COwa9 {
  background-color: #232323;
}

.SeriesIndexPoster-title-263Pq, .SeriesIndexPoster\/title\/263Pq,
.SeriesIndexPoster-nextAiring-1FZy6, .SeriesIndexPoster\/nextAiring\/1FZy6,
.ArtistIndexPoster-title-38afV, .ArtistIndexPoster\/title\/38afV,
.MovieIndexPoster-title-Umirt, .MovieIndexPoster\/title\/Umirt {
  background-color: #2d2c2c;
}