:root {
    --color-dark1: #2a2c2d;
    --color-dark2: #1b1a1a;
    --color-dark3: #1f1f1f;
    --color-dark4: #333333;
    --color-dark5: #2d2c2c;

    --color-light1: #707070;
    --color-light2: #dce2ec;
    --color-light3: #e1e2e3;

    --color-primary: #880000;
    --color-primary-light: #1ba9f5;
    --color-info: #5bc0de;
    --color-success: #53e69d;
    --color-danger: #ff7676;
    --color-warn: #ffc36d;
    --shadow-standard: 0 2px 2px -1px rgba(0, 0, 0, 0.3)
}
body {
  color: #333;
  background-color: #f0f7f7;
}

code {
  color: #555;
  background-color: #f0f0f0;
}

article {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
article.down {
  border-left: 0.4rem solid var(--color-danger);
}
article.degraded {
  border-left: 0.4rem solid var(--color-warn) !important;
}
article.up {
  border-left: 0.4rem solid var(--color-success);
}
article.svelte-uyma2x.svelte-uyma2x.svelte-uyma2x {
  background-blend-mode: luminosity;
}

.tag.closed,
.tag.up {
  background-color: var(--color-success);
}
.tag.open,
.tag.down {
  background-color: var(--color-danger);
}
.tag.degraded {
  background-color: var(--color-warn) !important;
}
.tag {
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark2);
    color: var(--color-light2);
  }
  article {
    background-color: var(--color-dark1);
  }
  nav.svelte-1pyc7i4.svelte-1pyc7i4, nav.svelte-1sgaob0.svelte-1sgaob0 {
    background: var(--color-dark3);
    border-bottom: 1px solid var(--color-dark5);
  }
}